<template name="landing_new">


<body id="landing-page">
	
	<div class="loader"><img src="img/loader.gif" alt="" /></div>
	
    <header>
        <nav class="navbar main-navigation-header navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navigation">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
                   
                   <a class="navbar_brand" href="#top-page-banner"><img style="height:50px" id="grouppeople" src="/Landing/img/logo_people.fw.png" alt="logo" role="banner"></a>
						<a class="navbar-brand" href="#top-page-banner" style="float:none; padding-left:0px; margin-left:0px; padding-top:8px; margin-top:30px"><img style="height:75px"                   src="/Landing/img/new_top.png" id="logo-text" alt="logo"></a>
                  
                  
                  
                  <!--<a href="" class="navbar-brand logo"><img src="img/logo.png" alt="eventix event landing page"><img src="img/logo-dark.png" class="dark-logo-img" alt="smsamoviles"/></a> -->
                </div><!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="header-navigation">
                    <ul class="nav navbar-nav main-navigation navbar-right">
	                    <li class="hidden"><a href="#page-top"></a></li>
	
	                    <li><a href="#main-section">Home</a></li>
	
	                    <li><a href="#about-section">Video</a></li>
	
	                    <li><a href="#features">Project</a></li>
	
	                    <li><a href="#timeline">Rewards</a></li>

	                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header><!-- Navigation -->

      
    <section id="main-section" class="parallax-scroll1">
    	
        <div class="overlay"></div>

        <div class="container">
            <div class="row">

              
 						<div id="intro_form" class="col-md-12" style="margin-top:16px; padding-top:10px; padding-left:10px">
							<!--Register form -->
							<div class="form_register wrapper" style="width:40%; height:450px">
								<h2 style="z-index:-100; margin-top:0px"> <img style="height:75px" src="/Landing/img/new_top.png"> </h2>

                <h4 style="text-align:center">Lorem ipsum dolor sit amet, consec tetur lil adipiscing</h4>
                
    <div class="barometer" data-progress="118" data-width="148" data-height="148" data-strokewidth="11" data-stroke="#fff" data-progress-stroke="#7d6e63"><svg height="148" version="1.1" width="148" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.135498046875px; top: -0.902801513671875px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#ffffff" d="M74,8A66,66,0,1,1,73.99,8" stroke-width="11" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#7d6e63" d="M74,8A66,66,0,1,1,73.99,8" stroke-width="12" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
				<span style="opacity: 1;"><span style="opacity: 1;">5<sup>%</sup></span> Funded</span>
                           
			</div> 
                
                
                
<li class="campaign-time-left" style="width: 30%; float:left; margin-top:12%; text-align:center">
								<span>$20,000</span>						
</li>
                
<li class="campaign-time-left" style="width: 30%; float:right; margin-top:12%; text-align:center">
								<span>23</span>days left								
</li>
                
                
                
                

                	<div style="text-align:center; margin-top:45%" id="quicknavbuttons">
                    <a href="https://angel.co/regage" target="blank" class="topbuttons" style="display:inline-block; width:35%">Investors</a>
                    <a href="#timeline" class="topbuttons" style="display:inline-block; width:25%">Rewards</a>
                    <a href="#" class="topbuttons" style="display:inline-block; width:30%">Newsletter</a>
                    </div>

                
                
                <style>
                  
   .topbuttons{
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(135deg, rgb(254, 121, 85) 0%, rgb(240, 92, 106) 100%);
  background-origin: padding-box;
  background-size: auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: auto;
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  letter-spacing: 2px;
  line-height: 50px;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: background-color;
  transition-timing-function: ease-out;
  width: 30%;
   }
                  
                  
#project1section .button {
  font-family: "Montserrat", sans-serif;
  display: block;
  height: 40px;
  width: 160px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
  text-transform: uppercase;
  margin-top: 35px;
  margin-left:10px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all .5s;
          transition: all .5s;
}
#project1section .button:hover {
  background-color: #fff;
  color: #192132;
}       
                  
 #project1section  {
  background-image: url('/LandingNew/img/gallery-bg.jpg');
  
}                      
                                  
#project2section .button {
  font-family: "Montserrat", sans-serif;
  display: block;
  height: 40px;
  width: 160px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
  text-transform: uppercase;
  margin-top: 35px;
  margin-left:10px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all .5s;
          transition: all .5s;
}
#project2section .button:hover {
  background-color: #fff;
  color: #192132;
}       
                  
 #project2section  {
  background-color: #CDE0F4 !important;
}                      
                  
                  
#project3section .button {
  font-family: "Montserrat", sans-serif;
  display: block;
  height: 40px;
  width: 160px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
  text-transform: uppercase;
  margin-top: 35px;
  margin-left:10px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all .5s;
          transition: all .5s;
}
#project3section .button:hover {
  background-color: #fff;
  color: #192132;
}       
                  
 #project3section  {
  background-color: rgb(148, 190, 178);
}                      
           
                  
                  
                  
                </style>
                
                
          
							</div>
                
                

                  
                  
            </div>  
                
            </div>
        </div>
    </section>
  
  
  
  
  
  
    
    
    <section id="about-section">
    	<h2>Regage</h2>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4 text-left left-wrapper" style="padding-top:0px">
	    			<h3>Funding</h3>
	    			<p class="medium-text">Regage puts your projects in front of your entire community immediately after you publish them. Never has fundraising (aka “crowdfunding”) been so  easy!</p>
	    			<br>
    			</div>
    			<div class="col-md-4 text-center">
	    			<a href="https://www.youtube.com/watch?v=z1WFjamOxiE" frameborder="0" class="video-link"><img src="/LandingNew/img/path6330.png" class="img-responsive wow bounceIn" data-wow-duration="1s" data-wow-delay=".5s" alt="" /></a>
    			</div>
    			<div class="col-md-4 text-left right-wrapper">
	    			<h3>Funding</h3>
	    			<p class="medium-text">Regage puts your projects in front of your entire community immediately after you publish them. Never has fundraising (aka “crowdfunding”) been so  easy!</p>
	    			<br>
	    			<h3>Team</h3>
	    			<p class="medium-text">Connect with more than your peer network; add your community with Regage to discover more about your hometown.</p>
    			</div>
    		</div>
    	</div>
    </section>
    
    
    <section id="features" class="section1">
		<div class="container">
			
			<h2>The Projects</h2>
				
			<div id="features-slider" class="owl-carousel">
			
				<div class="feature-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
					<i class="fa fa-usd"></i>
					<h3>Project 1</h3>
					<p>Share your fundraising project with your peer AND community network. At 8% + $0.30 fee per transaction, we are proud to be one of the cheapest (and easiest) crowdfunding solutions.</p>
<a class="btn btn-primary btn-lg" a="" href="#project1section">Go!</a>
				</div>
				
				<div class="feature-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
					<i class="fa fa-users"></i>
					<h3>Project 2</h3>
					<p>Connect with your location. Find events, explore local photos, engage in local topics, or simply meet new people with Regage. </p>
<a class="btn btn-primary btn-lg" a="" href="#project2section">Go!</a>
				</div>
				
				<div class="feature-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
					<i class="fa fa-heart"></i>
					<h3>Project 3</h3>
					<p>Regage is all about being responsible. Whether it is offering free projects to non-profits or refusing to sell your private data to third parties, Regage is committed to being a responsible network for you. </p>
<a class="btn btn-primary btn-lg" a="" href="#project3section">Go!</a>
				</div>
				
			</div>
		</div>
	</section>
  
 <section id="project1section" class="section2">
	
		<div class="overlay"></div>
		
		<div class="container">
			
			<div class="row">
				
				<div class="col-lg-7 col-md-7 text-center" style="float:right !important">
			
          
          
           <div class="panel" style="width:300px; margin-left:25%; margin-top:100px">
				            <div class="panel-heading" role="tab" id="heading1">
				                <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">How?<span class="icon-toggle pull-right"></span></a></h4>
				            </div>
				
				            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse1" style="height: 0px;">
				                <div class="panel-body">
				                    Sed magna velit, posuere vel scelerisque sed, fermentum sed ipsum. Duis tortor sem, porttitor vitae sem nec, lacinia placerat est, nulla molestie eget enim a scelerisque. In elementum diam velit, faucibus lobortis purus scelerisque a.
				                </div>
				            </div>
				  
				        </div>
           <img src="/LandingNew/img/heresheis.png" style="height:300px; width:300px">
          
				</div>
				
				<div class="col-lg-4 col-lg-offset-1 col-md-5">
					
					
					<h2>Title</h2>
					
					<hr>
					
					<p>Lorem ipsum dolor sit amet, consec tetur lil adipiscing elit proin at iaculis enim donec vitae orci justo aliquam vel con sequat odio euismod urna sit amet.</p>
					
<div>	
</div>
          
<div>	
  
         <div class="barometer" data-progress="118" data-width="148" data-height="148" data-strokewidth="11" data-stroke="#fff" data-progress-stroke="#7d6e63"><svg height="148" version="1.1" width="148" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.135498046875px; top: -0.902801513671875px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#ffffff" d="M74,8A66,66,0,1,1,73.99,8" stroke-width="11" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#7d6e63" d="M74,8A66,66,0,1,1,73.99,8" stroke-width="12" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
				<span style="opacity: 1;"><span style="opacity: 1;">10<sup>%</sup></span> Funded</span>
			</div> 
  
  
                  
<li class="campaign-time-left" style="width: 20%; float:left; margin-top:12%; text-align:center">
								<span>$20,000</span>						
</li>
                
<li class="campaign-time-left" style="width: 25%; float:right; margin-top:12%; text-align:center">
								<span>23</span>days left								
</li>
          
  
  
  <div style="float:left">
  <a href="" class="button" id="pledgebutton" style="float:left">Pledge</a> 
  		<a href="#timeline" class="button" style="float:right; margin-left:20px">Rewards</a>
   </div>
</div>
          
          
          
				</div>
				
			</div>
		</div>
	</section>
  
  
  
  
  
  
  
  
     <section id="project2section" class="section3" style="background-color: yellow">
	
		<div class="overlay"></div>
		
		<div class="container">
			
			<div class="row">
				
				<div class="col-lg-7 col-md-7 text-center">
				
          
          <div class="panel" style="width:300px; margin-left:25%; margin-top:100px">
				            <div class="panel-heading" role="tab" id="heading2">
				                <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">How?<span class="icon-toggle pull-right"></span></a></h4>
				            </div>
				
				            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse2" style="height: 0px;">
				                <div class="panel-body">
				                    Sed magna velit, posuere vel scelerisque sed, fermentum sed ipsum. Duis tortor sem, porttitor vitae sem nec, lacinia placerat est, nulla molestie eget enim a scelerisque. In elementum diam velit, faucibus lobortis purus scelerisque a.
				                </div>
				            </div>
				  
				        </div>
          
          <img src="/LandingNew/img/heresheis.png" style="height:300px; width:300px">
          
				</div>
				
				<div class="col-lg-4 col-lg-offset-1 col-md-5">
					
					
					<h2>Title</h2>
					<hr>

					
					<p>Lorem ipsum dolor sit amet, consec tetur lil adipiscing elit proin at iaculis enim donec vitae orci justo aliquam vel con sequat odio euismod urna sit amet.</p>
					
					
    <div class="barometer" data-progress="118" data-width="148" data-height="148" data-strokewidth="11" data-stroke="#fff" data-progress-stroke="#7d6e63"><svg height="148" version="1.1" width="148" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.135498046875px; top: -0.902801513671875px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#ffffff" d="M74,8A66,66,0,1,1,73.99,8" stroke-width="11" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#7d6e63" d="M74,8A66,66,0,1,1,73.99,8" stroke-width="12" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
				<span style="opacity: 1;"><span style="opacity: 1;">5<sup>%</sup></span> Funded</span>
                           
			</div> 
 
                          
<li class="campaign-time-left" style="width: 20%; float:left; margin-top:12%; text-align:center">
								<span>$20,000</span>						
</li>
                
<li class="campaign-time-left" style="width: 25%; float:right; margin-top:12%; text-align:center">
								<span>23</span>days left								
</li>
          
          
  <div style="float:left">
  <a href="" class="button" id="pledgebutton" style="float:left">Pledge</a> 
  		<a href="#timeline" class="button" style="float:right; margin-left:20px">Rewards</a>
   </div>
         
					
				</div>
				
			</div>
		</div>
	</section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   <section id="project3section" class="parallax-scroll3">
	
		<div class="overlay"></div>
		
		<div class="container">
			
			<div class="row">
				
				<div class="col-lg-7 col-md-7 text-center" style="float:right !important">
				
          
          
           <div class="panel" style="width:300px; margin-left:25%; margin-top:100px">
				            <div class="panel-heading" role="tab" id="heading3">
				                <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">How?<span class="icon-toggle pull-right"></span></a></h4>
				            </div>
				
				            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse3" style="height: 0px;">
				                <div class="panel-body">
				                    Sed magna velit, posuere vel scelerisque sed, fermentum sed ipsum. Duis tortor sem, porttitor vitae sem nec, lacinia placerat est, nulla molestie eget enim a scelerisque. In elementum diam velit, faucibus lobortis purus scelerisque a.
				                </div>
				            </div>
				  
				        </div>
          
          
           <img src="/LandingNew/img/heresheis.png" style="height:300px; width:300px">
          
          
          
          
          
				</div>
				
				<div class="col-lg-4 col-lg-offset-1 col-md-5">
					
					
					<h2>Title</h2>
					
					<hr>
					
					<p>Lorem ipsum dolor sit amet, consec tetur lil adipiscing elit proin at iaculis enim donec vitae orci justo aliquam vel con sequat odio euismod urna sit amet.</p>
					
    <div class="barometer" data-progress="118" data-width="148" data-height="148" data-strokewidth="11" data-stroke="#fff" data-progress-stroke="#7d6e63"><svg height="148" version="1.1" width="148" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.135498046875px; top: -0.902801513671875px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#ffffff" d="M74,8A66,66,0,1,1,73.99,8" stroke-width="11" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#7d6e63" d="M74,8A66,66,0,1,1,73.99,8" stroke-width="12" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
				<span style="opacity: 1;"><span style="opacity: 1;">0<sup>%</sup></span> Funded</span>
                           
			</div> 
       
          
          
                          
<li class="campaign-time-left" style="width: 20%; float:left; margin-top:12%; text-align:center">
								<span>$20,000</span>						
</li>
                
<li class="campaign-time-left" style="width: 25%; float:right; margin-top:12%; text-align:center">
								<span>23</span>days left								
</li>
          
          
  <div style="float:left">
  <a href="" class="button" id="pledgebutton" style="float:left">Pledge</a> 
  		<a href="#timeline" class="button" style="float:right; margin-left:20px">Rewards</a>
   </div>
					
				</div>
				
			</div>
		</div>
	</section>
  
  
  
  
  
  <section id="timeline">
		<div class="container">
			
			<h2>Rewards</h2>
			
			<div role="tabpanel">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
		
				</ul>
			</div>
			
			<div class="tab-content">
				
    			<div role="tabpanel" class="tab-pane fade active in" id="day1">
					<div class="timeline-wrapper" style="margin-top:0px">
						
						<div class="date-container center-block">
						
						</div>
						
						<div class="timeline-block clearfix">
						
							<div class="timeline-date text-right pull-left wow fadeInLeft animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.3s;">
								<p class="time">Sharing </p>
							</div>
							
							<div class="timeline-info text-left pull-left wow fadeInRight animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.3s;">
								<span>Angela Merkel</span>
								<h3>Succes..Failure and The Drive To Keep Creating</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pelo tesque feugiat id nunc id scelerisque.</p>
							</div>
							
						</div>
						
						<div class="timeline-block clearfix">
						
							<div class="timeline-date text-right pull-left wow fadeInLeft animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.3s;">
								<p class="time">$10 </p>
							</div>
							
							<div class="timeline-info text-left pull-left wow fadeInRight animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.3s;">
								<span>Angela Merkel</span>
								<h3>Succes..Failure and The Drive To Keep Creating</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pelo tesque feugiat id nunc id scelerisque.</p>
							</div>
							
						</div>
						
							<div class="timeline-block clearfix">
						
							<div class="timeline-date text-right pull-left wow fadeInLeft animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.3s;">
								<p class="time">$25</p>
							</div>
							
							<div class="timeline-info text-left pull-left wow fadeInRight animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.3s;">
								<span>Angela Merkel</span>
								<h3>Succes..Failure and The Drive To Keep Creating</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pelo tesque feugiat id nunc id scelerisque.</p>
							</div>
							
						</div>
						
							<div class="timeline-block clearfix">
						
							<div class="timeline-date text-right pull-left wow fadeInLeft animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.3s;">
								<p class="time">$50 </p>
							</div>
							
							<div class="timeline-info text-left pull-left wow fadeInRight animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.3s;">
								<span>Angela Merkel</span>
								<h3>Succes..Failure and The Drive To Keep Creating</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pelo tesque feugiat id nunc id scelerisque.</p>
							</div>
							
						</div>
            
            
            	<div class="timeline-block clearfix">
						
							<div class="timeline-date text-right pull-left wow fadeInLeft animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.3s;">
								<p class="time">$150 </p>
							</div>
							
							<div class="timeline-info text-left pull-left wow fadeInRight animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.3s;">
								<span>Angela Merkel</span>
								<h3>Succes..Failure and The Drive To Keep Creating</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pelo tesque feugiat id nunc id scelerisque.</p>
							</div>
							
						</div>
						
					</div>
				</div>
				
				
					</div>

				
			
		</div>
		
	</section>
  
  
  
  
  
  
  
  
  
  
  

		<footer id="footer">
				<div class="container">	
					<div class="row">
		
					
												
						<!-- Footer Social Icons -->
        <div id="footer_icons" style="text-align:center" class="footer_icons">
    <a class="mt-facebook mt-share-inline-square-sm" href="https://www.facebook.com/sharer/sharer.php?u=http://regage.co/Landing/index.html" target="_blank"><img src="//mojotech-static.s3.amazonaws.com/facebook@2x.png"></a>
    <a class="mt-twitter mt-share-inline-square-sm" href="//twitter.com/intent/tweet?text=Regage.co & url=http://regage.co/Landing/index.html" target="_blank"><img src="//mojotech-static.s3.amazonaws.com/twitter@2x.png"></a>
    <a class="mt-linkedin mt-share-inline-square-sm" href="//www.linkedin.com/shareArticle?mini=true&url=http://regage.co/Landing/index.html&amp;summary=Regage.co" target="_blank"><img src="//mojotech-static.s3.amazonaws.com/linkedin@2x.png"></a>
    <a class="mt-google mt-share-inline-square-sm" href="https://plus.google.com/share?url=http://regage.co/Landing/index.html" target="_blank"><img src="//mojotech-static.s3.amazonaws.com/google@2x.png"></a>
  </div>  
	
				
		</div>
	</div>
      </footer>

</body>

      
      </template>