<template name="backerlist">

<li class="campaign-backer"> 			

							<img alt="Mark Engebretson" src="http://0.gravatar.com/avatar/eb5e816409a99a701b5bfbc4eebbd109?s=115&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D115&amp;r=G" class="avatar avatar-115 photo" height="115" width="115">
							<div class="if-tiny-hide">
								
									<h6>Mark Engebretson</h6>

									<p>	
											Minneapolis, US<br>			
											$20					
	
									</p>
															</div>
						</li>
  
  
  
  </template>