<template name="welcomemodal">


<div id="DIV_1" class="modal hide fade in" style="display: block;">
	<div id="DIV_2">
  <div class="modal-header" id="DIV_3">
  	<img src="images/ui/modal_logo.png" id="IMG_4">
    <a href="#" class="close" id="A_5">×</a>
  </div>
  <div class="modal-body" id="DIV_6">
    <h3 id="H3_7">Concert? DJ? Bar Band? We'll find it for you.</h3>
    <p id="P_8">We're hard at work building you an awesome mobile app.
    While you wait, use this website to find concerts. We'll be adding features daily. Be sure to tell your friends!</p>
  </div>
	<input type="submit" value="Try It!" name="subscribe" id="INPUT_9" class="button btn CTA">
  </div>
</div>
  
  
  </template>