/* ============================== */
/*		  timeline section    	  */
/* ============================== */
#timeline {
  padding: 120px 0;
  text-align: center;
}
#timeline .nav-tabs {
  display: inline-block;
  border: none;
  margin-top: 60px;
}
#timeline .nav-tabs li {
  width: 180px;
  height: 50px;
  margin-right: 20px;
}
#timeline .nav-tabs li a {
  color: #a8b4c1;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 46px;
  width: 180px;
  padding: 0;
  border: 2px solid #f4f6f8;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  text-transform: uppercase;
  -webkit-transition: all .5s;
          transition: all .5s;
}
#timeline .nav-tabs .active a {
  background-color: #f4f6f8;
  color: #1f2429;
  line-height: 50px;
  border: none;
}
#timeline .tab-pane {
  -webkit-transition: all .5s;
          transition: all .5s;
}
#timeline .timeline-wrapper {
  position: relative;
  margin-top: 60px;
  padding-bottom: 40px;
}
#timeline .timeline-wrapper:before {
  background-color: #f0f1f2;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
}
#timeline .timeline-wrapper .date-container {
  background-color: #fff;
  border: 2px solid #f0f1f2;
  padding: 5px;
  width: 75px;
  height: 75px;
  position: relative;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  z-index: 1000;
}
#timeline .timeline-wrapper .date-container .date {
  color: #fff;
  background-color: #3b475f;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  width: 60px;
  min-height: 60px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  line-height: 20px;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
#timeline .timeline-wrapper .date-container .date small {
  font-size: 14px;
  text-transform: uppercase;
}
#timeline .timeline-wrapper .timeline-block {
  position: relative;
  margin: 2em 0;
  margin: 0 auto 50px;
  overflow: hidden;
}
#timeline .timeline-wrapper .timeline-date, #timeline .timeline-wrapper .timeline-info {
  width: 50%;
  padding: 0 40px;
}
#timeline .timeline-wrapper .timeline-info span {
  font-family: "Merriweather", sans-serif;
  font-style: italic;
}
#timeline .timeline-wrapper .timeline-info h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 5px;
}
#timeline .timeline-wrapper .timeline-info p {
  line-height: 24px;
}
#timeline .timeline-wrapper .timeline-date {
  padding-top: 35px;
  position: relative;
}
#timeline .timeline-wrapper .timeline-date p {
  color: #f46464;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
#timeline .timeline-wrapper .timeline-date p span {
  color: #3b475f;
}
#timeline .timeline-wrapper .timeline-date:after {
  background-color: #3b475f;
  content: '';
  position: absolute;
  top: 40px;
  right: -9px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 3px solid #f0f1f2;
}
#timeline .inverted .timeline-date:after {
  left: -7px;
}
#timeline .download-button {
  font-family: "Montserrat", sans-serif;
  display: block;
  height: 60px;
  width: 220px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  background-color: #3b475f;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  line-height: 50px;
  display: block;
  letter-spacing: 1px;
  border: 5px solid #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}