/* Accent colour */
a, .menu-button, .menu-site a:hover, .block-title, .widget-title, .page-title, .post-title, .pledge-level.not-available .pledge-limit, .post-author i, body .button.accent:hover, .button.accent.button-alt, .social a:hover, .menu-site .current-menu-item > a, .campaign .campaign-status .campaign-raised span, .campaign .campaign-status .campaign-pledged span, .campaign .campaign-status .campaign-time-left span, #lang_sel ul ul a, #lang_sel ul ul a:visited, #campaign-widget-sharing h2 { 
    color: #A73B2D; 
}
.campaign-button, .feature-block.page, .feature-block, .feature-block.page .page-title, .sticky.block, .button.accent, .button.accent.button-alt:hover, .banner, .gallery-icon, .featured-image a, .edd_success { 
    background-color: #A73B2D; 
    color: #fff; 
}
.feature-block .share, .feature-block .more-link, .feature-block .button.button-alt:hover, .feature-block .share .icon:before { 
    color: #fff; 
}
.button.accent, .campaign-support .button.accent:hover { 
    box-shadow: 0 0 0 0.3rem #d95b43; 
}
.menu-site .hovering > a { 
    border-color: #A73B2D; 
    border-color: rgba(217, 91, 67, 0.7); 
}
.page-template-default #header, .is-active > .menu-site { 
    border-color: #A73B2D; 
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus, textarea:focus, input[type=text]:active, input[type=password]:active, input[type=number]:active, input[type=email]:active, textarea:active, .button.accent.button-alt, .button.button-secondary.accent, .button.accent.button-alt:hover, .button.button-secondary.accent:hover select:active { 
    border-color: #A73B2D; 
}

/* Accent hover */
a:hover { 
    color: #df745f;
}
.sticky .post-title, .barometer .filled, .button.accent, .feature-block .campaign-image .wp-post-image, .site-navigation ul { 
    border-color: #df745f; 
}

/* Secondary accent text */
.feature-block .campaign-summary h3 a, .feature-block .button.button-alt, .campaign-ended .time-ago { 
    color: #574c45; 
}
.feature-block .button.button-alt, .feature-block .button.button-alt:hover { 
    border-color: #574c45; 
}
.feature-block .button.button-alt:hover { 
    background-color: #574c45; 
}

/* Body background colour */
body, .audiojs .loaded, .edd_errors { 
    background-color: #aea198; 
}
.audiojs .play-pause { 
    border-right-color: #aea198; 
}

/* Body copy */
body, .icon, input[type=submit]:hover, input[type=reset]:hover, input[type=submit]:focus, input[type=reset]:focus, input[type=submit]:active, input[type=reset]:active, button:hover, .button:hover, .button.accent:hover, .button.button-alt, .button.button-secondary, .menu-site a, .block-title.with-icon i, .meta a, .format-status .post-title, .countdown_holding span, .widget-title, .with-icon:before, .widget_search #searchsubmit:before, #lang_sel a.lang_sel_sel, #campaign-widget-sharing, .campaign-categories .block-title, .wp-core-ui .wp-media-buttons .button { 
    color: #7d6e63; 
}
.footer-widget .widget-title { 
    text-shadow: 0 1px 0 #7d6e63; 
}
.campaign-excerpt, .active-campaign .share .icon:before { 
    text-shadow: 0 1px 1px #7d6e63; 
    text-shadow: 0 1px 1px rgba(125, 110, 99, 0.7);
}
.button.button-alt, .button.button-alt:hover, .account-links .button.button-alt, .button.button-secondary, .button.button-secondary:hover, .shadow-wrapper:before, .shadow-wrapper:after { 
    border-color: rgba(231, 76, 60, 0.22);
}
input[type=submit], input[type=reset], button, .button, .button.button-alt:hover, .button.button-secondary:hover, .audiojs, .campaign-pledge-levels.accordion h3, .account-links .button.button-alt:hover:before, .campaign-preview .edd_errors { 
    background-color:#e74c3c;
}
input[type=submit], input[type=reset], button, .button { 
    box-shadow: 0 0 0 3px #7d6e63; 
}
.active-campaign .campaign-image .wp-post-image { 
    box-shadow: 0 0 3px 1px rgba(125, 110, 99, 0.3);}

/* Button text colour */
input[type=submit], input[type=reset], button, .button, .active-campaign .campaign-button, .button.button-alt:hover, .button.button-secondary:hover, .sticky.block, .sticky.block a, .campaign-support .button:hover, .campaign-pledge-levels.accordion h3, .feature-block .button, .feature-block .block-title, .account-links .button.button-alt:hover:before, .feature-block .block-title:before { 
    color: #fff; 
}
.campaign-support .button:hover { 
    box-shadow: 0 0 0 3px #fff; 
}

/* Widget background colour */
input[type=text], input[type=password], input[type=number], input[type=email], .chrome input[type=file], .safari input[type=file], textarea, select, .featured-image, th, .entry blockquote, hr, pre, .meta, .audiojs .scrubber, .widget, .sidebar-block, .accordion h3, .atcf-multi-select, #login-form .wrapper { 
    background-color: #f1efee; 
}
input:focus, textarea:focus, select:focus, input:active, textarea:active, select:active { 
    background-color: rgba(241, 239, 238, 0.7); 
}

/* Meta text colour */
.meta, .comment-meta, .pledge-limit { 
    color: #bdb2ab; 
}

/* Primary border colour */
.widget_search #s, .menu-site li, .is-active > .menu-site ul, .block, .page-title, .block-title, .post-title, .meta, .meta .author, .meta .comment-count, .meta .tags, .comment, .pingback, .widget, .campaign-pledge-levels.accordion h3, .campaign-pledge-levels.accordion .pledge-level, #edd_checkout_form_wrap legend, table, td, th, .contact-page .ninja-forms-form-wrap, .atcf-submit-campaign-reward, .campaign .campaign-status, .campaign .campaign-status .campaign-raised, .campaign .campaign-status .campaign-pledged, .campaign .campaign-status .campaign-time-left, .atcf-profile-section, .atcf-submit-section, #lang_sel ul ul, #lang_sel ul ul a, #campaign-widget-sharing h2, .author-links, .author-campaigns-block.block, .author-bio, #login-form .edd-slg-social-wrap { 
    border-color: #e2dedb; 
}
.multi-block .content-block:nth-of-type(1n+2) { 
    border-color: #e2dedb; 
}
.campaigns-grid .campaign { 
    box-shadow: 0 0 0 1px #e2dedb; 
}

/* Secondary border colour */
th { 
    border-right-color: #dbd5d1; 
}
.menu-site { 
    border-top-color: #dbd5d1; 
}
.widget-title { 
    border-color: #dbd5d1;}

/* Main content area background colour */
#main, #header, .menu-site, .menu-site ul, .even td, .widget td, .widget input[type=text], .widget input[type=password], .widget input[type=email], .widget input[type=number], .entry-block.contact-page { 
    background-color: #f9f8f7; 
}

/* Posts background colour */
.entry-block, .content-block, .reveal-modal.multi-block .content-block, .widget_search #s:focus, .widget input[type=text]:focus, .widget input[type=password]:focus, .widget input[type=email]:focus, .widget input[type=number]:focus, .widget textarea:focus, .widget input[type=text]:active, .widget input[type=password]:active, .widget input[type=email]:active, .widget input[type=number]:active, .widget textarea:active, .widget th, .widget tfoot td, .format-status .meta, .format-quote .entry blockquote, .audiojs .progress, .comments-section, .campaign-pledge-levels.accordion .pledge-level, .contact-page .ninja-forms-form-wrap, #login-form .active.tab-title { 
    background-color: #fff; 
}
.entry-block { 
    box-shadow: 0 0 1px #fff; 
}
.sticky.block { 
    border-color: #fff; 
}

/* Footer text */
#site-footer, #site-footer a, .edd_errors, .edd_errors a { 
    color: #fff; 
}    
#rockbottom { 
    border-color: rgba(255, 255, 255, 0.5); 
}

/* Footer widget titles */
.footer-widget .widget-title, #rockbottom { 
    color: #fff; 
}

/* Header buttons */
.social a, .account-links .button.button-alt, .account-links .button.button-alt:before, .logout, .logout:before, .logout:hover { 
    color: #fff; 
}
.social a:hover:before { 
    color: #d95b43; 
}
.account-links .button.button-alt:hover, .account-links .button.button-alt:hover:before { 
    background-color: #d95b43; 
    border-color: #d95b43; 
}

/* Text selection */
*::selection { 
    background-color:#d95b43; 
    color: #fff; 
} 
*::-moz-selection { 
    background-color:#d95b43; 
    color: #fff; 
}
.active-campaign::selection, .active-campaign *::selection { 
    background-color:#574c45; 
    color: #fff; 
}
.active-campaign::-moz-selection, .active-campaign *::-moz-selection { 
    background-color:#574c45; 
    color: #fff; 
}
               
/* Greater than 600px width */
@media all and (min-width: 37.5em) {
    .author-bio { 
        background-color: #fff; 
    }
}