<template name="layout">

{{> UI.dynamic template=css}}
      <a href="#menu" class="mobile-only mobile-menu-button button" style="top:10px; left: calc(100% - 80px); position: absolute;">
      <svg height="24px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path class="hamburger" d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
    </a>
  
  			<div class="mobile-only site-identity" style="top:1px; left: 0px; position: absolute;z-index:100;padding-top:2px;">				

					<!-- Site title -->
					<div > 
            <a href="javascript:Session.set('feed','2');Router.go('/')" alt="Go to homepage"><img src="/img/image3881.png"  style="height:80px">
            </a>
          </div>	
					<!-- End site title -->		

      </div>	
 <div class="mobile-only" style="height:90px; clear:both; background-color:white;">&nbsp;</div>
  {{> UI.dynamic template=mobile_nav}}


 {{#if isAdmin}} {{> UI.dynamic template=nav}} {{/if}}
    <div class="site-container">
      <div style="clear:both"></div>
      
      
     <span class="site-share desktop-only" style="float:left; padding-top:8px; margin-left:20px;">{{>  siteShare}} </span>
      
      
      <span class="account-links desktop-only">
        
        {{#if canPost}}<a class="user-campaign button with-icon button-alt button-small" href="/submit/2" data-icon="" style="background-color:#e74c3c">Create a Project</a>
        {{/if}}
        
        
		{{#if isLoggedIn}}
		<a href="/sign-out" class="user-login button with-icon button-alt button-small" data-reveal-id="login-form" title="{{getUserInfo}}" style="background-color:#e74c3c">Sign Out</a>      
      {{else}}       
     	<a href="/sign-in" class="user-login button with-icon button-alt button-small" data-reveal-id="login-form" style="background-color:#e74c3c">Login / Register</a>   
        {{/if}}
			
		<!-- Login form -->
	
        <!-- End login form -->

    
	</span>
      
        <div class="body-wrapper">
       {{> UI.dynamic template=new_nav}}
          <div id="main" class="cf" role="main" style="background-color:white"> 		
					      <div class="content-wrapperN cf" style="padding-left:0px; padding-right:0px; padding-top:0px; width:100%; background-color:white; padding-bottom:0px;">
                  {{> UI.dynamic template=error}}
                  {{#each heroModules}}
                    {{> UI.dynamic template=getTemplate}}
                  {{/each}}
                  {{> yield}}
                     {{> UI.dynamic template=footer}}
                </div>
            
            <div style="background-color:grey ; padding-bottom:65px; padding-top:65px; margin-left:-31%; margin-right:-31%; overflow-x:hidden !important ">

    </div>
            
          </div>
       </div>
    </div>
      
  <div class="overlay hidden"></div>

    {{{extraCode}}}

</template>